<div class = "divform">
    <form class = "centerform" method="post" action="addtask">
        Task Title<br>
        <input type="text" name="tasktitle" placeholder="Task Title"><br>
        Date Due<br>
        <input type="date" name="datedue"><br>
        Time Due<br>
        <input type="time" name="timedue"><br><br>
        <textarea name="taskbody" rows="10" cols="40">
        </textarea><br>
        <input type="submit" class="button" value="Add Task">
    </form>
    <br>
    <br>
    {{#if message}}
        <i class="fa fa-exclamation-triangle"></i> {{message}}
    {{/if}}
    <br>
    {{#if rules}}
        {{rules}}
    {{/if}}
    <br>
</div>
