<!--
@Author: Vargas Hector <vargash1>
@Date:   Tuesday, March 29th 2016, 6:30:27 pm
@Email:  vargash1@wit.edu
@Last modified by:   vargash1
@Last modified time: Saturday, April 2nd 2016, 6:04:15 pm
-->

<div class = "divform">
    <form class = "centerform" method="post" action="chemail">
        <input type="email" name="email">
        <br>
        <input type="email" name="emailc">
        <br>
        <input type="submit" class="button" value="Change Email">
        <br>
    </form>
    <br>
    {{#if message}}
        <i class="fa fa-exclamation-triangle"></i> {{message}}
    {{/if}}
    <br>
    {{#if rules}}
        {{#each rules}}
            {{rule}}<br>
        {{/each}}
    {{/if}}
    <br>

</div>
