<div class = "divform">
    <form class = "centerform" method="post" action="chemail">
        <input type="email" name="email">
        <br>
        <input type="submit" class="button" value="Change Email">
        <br>
    </form>
    <br>
</div>
