<form method="post" action="login">
<input type="text" name="username" placeholder="User name"><br>
<input type="password" name="password" placeholder="Password"><br>
<input type="submit" value="Log in">
</form>
<a href="signup">Sign up</a>
