<!--
@Author: Vargas Hector <vargash1>
@Date:   Sunday, March 20th 2016, 7:05:21 pm
@Email:  vargash1@wit.edu
@Last modified by:   vargash1
@Last modified time: Sunday, April 3rd 2016, 10:55:37 pm
-->
<form  method="post" action="login">
    <div class="form-group row">
        <label for="usern" class="col-sm-2 form-control-label">Username</label>
        <div class="col-sm-10">
            <input type="text" name="username" class="form-control" id="usern" placeholder="Username">
        </div>
    </div>
    <div class="form-group row">
        <label for="userp" class="col-sm-2 form-control-label">Password</label>
        <div class="col-sm-10">
            <input type="password" name="password" class="form-control" id="userp" placeholder="Password">
        </div>
    </div>

    <div class = "divform">
        <input type="submit" class="button" value="Log in">
    </div>
</form>
<br><br>
<div class = "divform">
    {{#if message}}
        <i class="fa fa-check-circle"></i> {{message}}
    {{else}}
        <a href="signup">Sign Up! <i class="fa fa-user-plus"></i></a>
    {{/if}}
</div>
