<div class = "divform">
    <form class = "centerform" method="post" action="login">
        <input type="text" name="username" placeholder="User name"><br>
        <input type="password" name="password" placeholder="Password"><br><br>
        <input type="submit" class="button" value="Log in">
    </form>
    <br></br>
    <a href="signup">Sign Up! <i class="fa fa-user-plus"></i></a>
</div>
