<div class = "divform">
    <form class = "centerform" method="post" action="login">
        <input type="text" name="tasktitle" placeholder="Task Title"><br>
        <input type="date" name="datedue" placeholder="MM/DD/YYYY"><br>
        <input type="time" name="timedue" placeholder="Time"><br><br>
        <input type="submit" class="button" value="Add Task">
    </form>
    <br></br>
</div>
