<div class = "wrapper">
    <a href="/users/chpasswd">
        <button class="button">
            <i class="fa fa-key"></i> Change Password
        </button>
    </a>
<div>
<br>
<br>
<div class = "wrapper">
    <a href="/users/chemail">
        <button class="button">
            <i class="fa fa-envelope-o"></i> Change Email
        </button>
    </a>
</div>
