<!--
@Author: Vargas Hector <vargash1>
@Date:   Thursday, March 31st 2016, 6:11:04 pm
@Email:  vargash1@wit.edu
@Last modified by:   vargash1
@Last modified time: Thursday, April 14th 2016, 9:46:10 pm
-->

<div class = "titleheader">
    <i class="fa fa-user" aria-hidden="true"></i> Welcome {{user.username}} You currently have {{numtasks}} tasks!
    <br>
    <i class="fa fa-envelope-o" aria-hidden="true"></i> Your email is currently {{email}}
</div>
<br>
<div class = "wrapper">
    <a href="/users/chpasswd">
        <button class="button">
            <i class="fa fa-key"></i> Change Password
        </button>
    </a>
<div>
<br>
<div class = "wrapper">
    <a href="/users/chemail">
        <button class="button">
            <i class="fa fa-envelope-o"></i> Change Email
        </button>
    </a>
</div>
