<form method="post" action="signup">
<input type="text" name="username" placeholder="User name"><br>
<input type="text" name="email" placeholer= "Valid Email"><br>
<input type="password" name="password" placeholder="Password"><br>
<input type="submit" value="Sign Up">
</form>
