{{#unless user.username}}
    <div class = "divform">
        Welcome to vTask, please sign in or create an account!
    </div>
{{/unless}}
<br>
{{#if tasks}}
    <div class="grid" data-masonry='{ "columnWidth": 300, "gutter": 20,  "itemSelector": ".grid-item"}'>
    {{#each tasks}}
        <div class="grid-item">
            <blockquote class="note yellow">
                    <div class="titletext">
                        {{title}} <br>
                    </div>
                    {{taskbody}} <br>
                    <i class="fa fa-clock-o"></i> {{datedue}} {{timedue}} <br>
            </blockquote>
        </div>
    {{/each}}
    </div>
{{/if}}
