body {
  padding: 50px;
  font-family: 'PT Sans', sans-serif;
  background-color: white;
}
#myHeader {
    text-align: center;
    color: black;
}
.button {
    background-color: black;
    border: none;
    color: white;
    padding: 10px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 0px auto;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.button:active {
    transform: translate(0px,1px);
    -webkit-transform: translate(0px,1px);
    border-bottom: 1px solid;
}
.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.wrapper{
    text-align: center;
}
#botbar{
    position: fixed;
    z-index: 100;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;
    color: black;
}
.navbar {
    font-size: 12px;
}
a:link {
    color: black;
}
a:visited {
    color: black;
}
blockquote {
    padding: 10px 10px;
    /* margin: 0 0 20px; */
    margin-bottom: 10px;
    border-left: 0;
}
.note {
    color: white;
    font-family: 'Roboto Slab', serif;
    position: relative;
    /*display: block;*/
    font-size: 10px;
    box-shadow: 0 10px 10px 2px rgba(0,0,0,0.3);
}
.titletext{
    font-weight: bold;
}
.note .author {
    display: block;
    /*margin: 20px 0 0 0;*/
    text-align: right;
}
.centerform{
    display: inline-block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.divform{
    display: block;
    text-align: center;
}
.notecolor {
    background: black;
}
.grid{
    margin: 0 auto;
}
.grid-item {
  float: left;
  width: 200px;
  /*margin-bottom: 2px;*/
}
.grid:after {
  content: '';
  display: block;
  clear: both;
}
.grid-item--width2 {
    width: 200px;
}
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}
